---
# Add frontmatter so it gets converted
---

#blog-archives {
  article {
    padding: 1em 0 1em;
    position: relative;
    background: 0 bottom left repeat-x;
    &:last-child {
      background: none;
    }
    footer { padding: 0; margin: 0;}
  }

  h1 {
    margin-bottom: 0.3em;
  }

  h2 {
    display: none;
  }

  h1 {
    font-size: 1.5em;

    a {
      color: inherit;
      font-weight: normal;
      display: inline-block;
    }
  }

  .entry-content {
    display: none;
  }

  time {
    font-size: .9em;
    line-height: 1.2em;
    .month, .day { display: inline-block; }
    .month { text-transform: uppercase; }
  }

  p {
    margin-bottom: 1em;
  }

  @media only screen and (min-width: 550px) {
    article {
      margin-left: 5em;
    }

    h2 {
      margin-bottom: .3em;
      font-weight: normal;
      display: inline-block;
      position: relative; top: -1px;
      padding-top: 0.2em;
      float: left;

      &:not(:first-child) {
        border-top: 1px dotted lightgray;
      }
    }
    time {
      position: absolute;
      text-align: right;
      left: 1em;
      top: 1.8em;
    }
    .year { display: none; }
    article {
      padding: { left: 5.5em; bottom: .7em;}
      border-bottom: 1px dotted lightgray;
    }
    a.category {
      line-height: 1.1em;
    }
  }
}
#content > .category {
  article {
    margin-left: 0;
    padding-left: 6.8em;
  }
  .year { display: inline; }
}
