{%- macro essayList(posts, link, dateFormat, listType) -%}
<{{ listType }} class="essay-list">
{% for post in posts %}
  <li>
    <a href="{{ post.url }}">
      <span class="title">{{ post.data.title }}</span>
      <time datetime="{{ post.date.toISOString() }}">{% if dateFormat == "year" %}{{ post.date | getYear }}{% else %}{{ post.date | readableDate }}{% endif %}</time>
    </a>
    <p class="blurb">{{ post.data.blurb }}</p>
  </li>
{% endfor %}
</{{ listType }}>
{% if link %}
<a class="view-all" href="{{ link }}">View all →</a>
{% endif %}
{%- endmacro -%}

