---
layout: layouts/base
permalink: "{{ page.fileSlug | slugToPermalink }}"
---

<article itemscope itemtype="http://schema.org/BlogPosting">
  <header class="post-header">
    <h2 itemprop="name headline">{{ title }}</h2>
    <p class="post-meta">
      <time datetime="{{ date.toISOString() }}" itemprop="datePublished">{{ date | readableDate }}</time>
    </p>
  </header>

  <div class="post-content" itemprop="articleBody">
{{ content | safe }}
  </div>
</article>
