<!DOCTYPE html>
<meta charset="utf-8">
<title>{% if page.title %}{{ page.title }}{% if page.date == nil %} | {{ site.title }}{% endif %}{% else %}{{ site.title }}{% endif %}</title>
{% capture description %}{% if page.date == nil %}{{site.subtitle}}{% elsif page.description %}{{ page.description }}{% else %}{{ content | raw_content }}{% endif %}{% endcapture %}
{% capture canonical %}{{ site.url }}{% if site.permalink contains '.html' %}{{ page.url }}{% else %}{{ page.url | remove:'index.html' }}{% endif %}{% endcapture %}
<meta name="author" content="{{ site.author }}">
<meta name="description" content="{{ description | strip_html | condense_spaces | truncate:150 }}">{% if page.keywords %}
<meta name="keywords" content="{{ page.keywords }}">{% endif %}
<meta name="viewport" content="width=device-width, initial-scale=1">

<link rel="canonical" href="{{ canonical }}">
<link rel="alternate" href="{{ site.subscribe_rss }}" title="{{site.title}}" type="application/atom+xml">
<link rel="icon" href="{{ root_url }}/favicon.png">

<link rel="stylesheet" href="{{ root_url }}/stylesheets/screen.css">
<script src="{{ root_url }}/javascripts/ender.js"></script>
<script src="{{ root_url }}/javascripts/octopress.js"></script>
{% include custom/head.html %}
{% include google_analytics.html %}

