---
eleventyComputed:
  title: "{{ categories[category].title | safe }}"
  blurb: "{{ categories[category].blurb | safe }}"
  permalink: >-
    {%- if category == "posts" -%}
    /archives/
    {%- else -%}
    /categories/{{ category | slug }}/
    {%- endif -%}

pagination:
  data: collections
  size: 1
  alias: category
  filter: [all, categories, favorites]
layout: layouts/base.njk
pageId: category
---
<h2>{{ title }}</h2>

<p id="blurb">{{ blurb }}</p>

{% import 'macros.njk' as macros %}

{{ macros.essayList(collections[category].toReversed(), undefined, "full-date", "ol") }}
