---
layout: layouts/base
pageId: home
---

{% import 'macros.njk' as macros %}

<section class="hero">
  <img srcset="images/headshot-1x.avif 1x, images/headshot-2x.avif 2x, images/headshot-3x.avif 3x" alt="Domenic Denicola" width="120" height="120">
  <div class="bio">
    <p>I'm a software engineer with a focus on web browser development and web standards. Since 2014, I've worked at Google on the Chrome team to make the web more capable.</p>

    <p>You may know me from my work on JavaScript <a href="https://github.com/domenic/promises-unwrapping/tree/master">promises</a> and <a href="https://html.spec.whatwg.org/multipage/webappapis.html#module-specifier-resolution">modules</a>, <a href="https://streams.spec.whatwg.org/">streams</a> and other <a href="https://whatwg.org/">WHATWG</a> standards, <a href="https://html.spec.whatwg.org/multipage/custom-elements.html#custom-elements">custom elements</a>, or the <a href="https://html.spec.whatwg.org/multipage/nav-history-apis.html#navigation-api">navigation API</a>. Most recently I've been working on <a href="https://developer.chrome.com/docs/web-platform/prerender-pages">speculative loading</a> for web performance, and <a href="https://docs.google.com/presentation/d/1QeVJ6gsE8_xy2Yui1KcTB75dsiKTI0dDFD7mgLITnmE/edit?usp=sharing">built-in AI APIs</a> to expose the browser or OS's AI models to web developers.</p>

    <p>Outside of work, I'm passing the time before <a href="https://ai-2027.com/">the singularity hits</a> by exploring Tokyo, where I moved in 2022. I spend a lot of time trying to learn Japanese, as well as keeping up with the latest in AI capabilities and safety research. I also maintain the <a href="https://github.com/jsdom/jsdom">jsdom</a> open-source project. I occasionally dream of making time to go back to <a href="https://scholar.google.com/citations?view_op=view_citation&hl=en&user=q_kWDkUAAAAJ&citation_for_view=q_kWDkUAAAAJ:u5HHmVD_uO8C">physics research</a>.</p>
  </div>
  <div class="socials">
    <a href="https://x.com/{{ metadata.author.twitter }}" aria-label="@{{ metadata.author.twitter }} on X"><span aria-hidden="true" class="icon">{% include "icon-x.svg" %}</span></a>
    <a href="https://github.com/{{ metadata.author.github }}" aria-label="@{{ metadata.author.github }} on GitHub"><span aria-hidden="true" class="icon">{% include "icon-github.svg" %}</span></a>
    <a href="https://www.linkedin.com/in/{{ metadata.author.linkedin }}" aria-label="{{ metadata.author.linkedin }} on LinkedIn"><span aria-hidden="true" class="icon">{% include "icon-linkedin.svg" %}</span></a>
    <a href="mailto:{{ metadata.author.email }}" aria-label="Email me at {{ metadata.author.email }}"><span aria-hidden="true" class="icon">{% include "icon-email.svg" %}</span></a>
  </div>
</section>

{% set latest = collections.posts.toReversed().slice(0, 3) -%}
{%- set favorites = collections.favorites.toReversed().slice(0, 3) -%}
{%- set webStandards = (collections["web standards"].toReversed() | exclude(latest) | exclude(favorites)).slice(0, 3) -%}
{%- set javascript = (collections["javascript"].toReversed() | exclude(latest) | exclude(favorites)).slice(0, 3) -%}
{%- set other = (collections["other"].toReversed() | exclude(latest) | exclude(favorites)).slice(0, 3) -%}

<section class="featured">
  <div class="column">
    <h2>Latest</h2>
    {{ macros.essayList(latest, "/archives", "year", "ol") }}
  </div>
  <div class="column">
    <h2>Favorites</h2>
    {{ macros.essayList(favorites, undefined, "year", "ul") }}
  </div>
</section>

<section class="categories">
  <div class="category">
    <h2>Web Standards</h2>
    {{ macros.essayList(webStandards, "/categories/web-standards", "year", "ul") }}
  </div>
  <div class="category">
    <h2>JavaScript & Node.js</h2>
    {{ macros.essayList(javascript, "/categories/javascript", "year", "ul") }}
  </div>
  {# <div class="category">
    <h2>Other</h2>
    {{ macros.essayList(other, "/categories/other", "year", "ul") }}
  </div> #}
</section>
